.main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
/* .main h1 {
  font-size: 2rem;
  color: var(--black-opacity-80);
  line-height: 1.5;
  font-weight: 500;
} */

main[data-dark-mode='true'] h1 {
  color: var(--white-opacity-80);
}

.content {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .content p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
}
 */
.homeContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.newsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  margin-top: 1rem;
  color: var(--black-opacity-80);
  font-weight: 300;
  width: 100%;
}

.homeContainer[data-dark-mode='true'] .newsList {
  color: var(--white-opacity-80);
}

.newsList {
  display: flex;
  gap: 0.5rem;
}

.newsList li p {
  font-size: 0.8rem;
  color: var(--black-opacity-40);
  min-width: 3rem;
}

.homeContainer[data-dark-mode='true'] .newsList li p {
  color: var(--white-opacity-60);
}

.newsList li {
  display: flex;
  gap: 0.75rem;
  border-bottom: 1px solid var(--white-opacity-10);
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
}

.newsList li a {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.newsList li::marker {
  color: var(--black-opacity-40);
}

.newsList li a:hover {
  text-decoration: none;
  color: var(--black-opacity-80);
}

.homeContainer[data-dark-mode='true'] .newsList li a:hover {
  color: var(--white-opacity-60);
}

.homeContainer[data-dark-mode='true'] .newsList li::marker {
  color: var(--white-opacity-40);
}

.secondCard {
  height: -webkit-fill-available;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.brainImage {
  filter: invert(1);
}
.homeContainer[data-dark-mode='true'] .brainImage {
  filter: none;
}
.healthContainer {
  width: 100%;
  height: 100%;
}

.healthContainer h3 {
  font-size: 1.2rem;
  color: var(--white);
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.healthContainer h4 {
  font-size: 1rem;
  color: var(--white-opacity-80);
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.healthGraphics {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-bottom: 1rem;
}

.seeAll {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.video {
  width: 70%;
  height: auto;
  border-radius: 1.5rem;
}

.newsListContainer {
  width: calc(30% - 1.5rem);
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.twoColumns {
  /*             width: '100%',
            display: 'flex',
            gap: '1.5rem',
            flexDirection: 'column', */
  width: 100%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.twoColumnsContainer {
  /*   { width: '100%', display: 'flex', gap: '1.5rem' }} */
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 1355px) {
  .homeContainer {
    /*     flex-direction: column; */
    video {
      width: 100%;
    }
  }
  .newsListContainer {
    width: 100%;
  }
  .twoColumnsContainer {
    flex-direction: column;
  }
}
